<md-dialog aria-label="Policy" style="max-height:85%">
<form>
	<md-toolbar class="md-table-toolbar md-default">
	<div class="md-toolbar-tools">
		<h2 class="md-title">Line Profile</h2>
	</div>
	</md-toolbar>
	<md-dialog-content style="padding:24px">
	<div layout="column">
		<md-input-container class="md-block noerror" flex> 
			<label>Name</label>
			<input type="text" name="name" ng-model="model.name"> 
		</md-input-container>
		
		<div layout="row">
			TCONT
		</div>
		<div layout="row" ng-repeat="x in model.tcont">
			<md-button class="md-icon-button md-accent" aria-label="Filter" 
				ng-click="model.removeTcont($index)" style="margin:auto 0"
				ng-disabled="model.tcont.length == 1"> 
				<md-icon class="material-icons">remove_circle</md-icon>
			</md-button>
		
			<md-input-container class="md-block noerror" flex> 
				<label>ID</label>
				<input type="text" name="name" ng-model="x.id"> 
			</md-input-container>
			
			<md-input-container class="md-block noerror" flex> 
				<label>DBA Profile ID</label>
				<input type="text" name="name" ng-model="x.dbaProfileId"> 
			</md-input-container>
		</div>
		<div layout="row" style="height:70px">
			<md-button class="md-icon-button md-accent" aria-label="Filter"
				ng-click="model.addTcont()" style="margin:auto 0"> 
				<md-icon class="material-icons">add_circle</md-icon>
			</md-button>
		</div>
		
		<div layout="row">
			GEM
		</div>
		<div layout="row" ng-repeat="x in model.gem">
			<md-button class="md-icon-button md-accent" aria-label="Filter"
				ng-click="model.removeGem(x)" style="margin:auto 0"
				ng-disabled="model.gem.length == 1"> 
				<md-icon class="material-icons">remove_circle</md-icon>
			</md-button>
		
			<div layout="column">
				<div layout="row">
					<md-input-container class="md-block noerror" flex> 
						<label>ID</label>
						<input type="text" name="name" ng-model="x.id"> 
					</md-input-container>
					
					<md-input-container class="md-block noerror" flex> 
						<label>TCONT ID</label>
						<input type="text" name="name" ng-model="x.tcontId"> 
					</md-input-container>
					
					<md-input-container class="md-block noerror" flex> 
						<label>Mapping</label>
						<input type="text" name="name" ng-model="x.mapping"> 
					</md-input-container>
				</div>
			
			<div layout="row">
				<md-input-container class="md-block noerror" flex> 
						<label>Downstream Policy Profile ID</label>
						<input type="text" name="name" ng-model="x.downstreamPolicyProfileId"> 
					</md-input-container>
				<md-input-container class="md-block noerror" flex> 
					<label>Upstream Policy Profile ID</label>
					<input type="text" name="name" ng-model="x.upstreamPolicyProfileId"> 
				</md-input-container>
			</div>
			
			<md-input-container class="md-block noerror" flex> 
				<label>VLAN</label>
				<input type="text" name="name" ng-model="x.vlan"> 
			</md-input-container>
			</div>
		</div>
		<div layout="row" style="height:70px">
			<md-button class="md-icon-button md-accent" aria-label="Filter"
				ng-click="model.addGem()" style="margin:auto 0"> 
				<md-icon class="material-icons">add_circle</md-icon>
			</md-button>
		</div>
	</div>
	</md-dialog-content>
	<md-dialog-actions layout="row">
		<md-button ng-click="model.save()">Save</md-button>
	</md-dialog-actions>
</form>
</md-dialog>