<md-content layout="column" layout-align="center center">
	<md-toolbar class="md-table-toolbar" style="background-color:rgba(0,0,0,0);color:rgba(0, 0, 0, 0.87)">
		<div class="md-toolbar-tools">
			<h2 class="md-title">Customer Portal</h2>
		</div>
	</md-toolbar>
	<md-content flex layout="row" style="padding-left:16px; padding-right:16px; margin-top:-8px" layout-padding
		layout-fill>
		<md-card style="padding:0" layout-fill>
			<md-tabs md-dynamic-height md-border-bottom flex>
				<md-tab label="Profile">
					<md-content>
						<md-card flex style="margin:0">
							<md-table-container>
								<table md-table class="nobordertop">
									<thead md-head>
										<tr md-row>
											<th md-column>Device</th>
											<th md-column>Region</th>
											<th md-column>Address</th>
											<th md-column>Subscribe Package</th>
											<th md-column>Ongoing Package</th>
											<th md-column md-numeric>Start Date</th>
											<th md-column md-numeric>Expired Date</th>
											<th md-column>Update</th>
										</tr>
									</thead>
									<tbody md-body>
										<tr md-row ng-repeat="_data in data" class="selectable">
											<td md-cell>{{_data.view.device}}</td>
											<td md-cell>{{_data.view.region}}</td>
											<td md-cell>{{_data.view.address}}</td>
											<td md-cell>{{_data.view.subscribePackage}}</td>
											<td md-cell>{{_data.view.ongoingPackage}}</td>
											<td md-cell>{{_data.view.startDate | date :'dd MMMM yyyy HH:mm'}}</td>
											<td md-cell>{{_data.view.expiredDate | date :'dd MMMM yyyy HH:mm'}}</td>
											<td md-cell>
												<md-button class="md-primary md-raised"
													ng-click="update($event, $index)">
													Update
												</md-button>
											</td>
										</tr>
									</tbody>
								</table>
							</md-table-container>
							<!-- <md-card-actions layout="row">
								<div flex></div>
								<md-button class="md-primary md-raised" ng-disabled="!selected.length"
									ng-click="update($event)">
									New Bandwidth on Demand
								</md-button>
								</md-card-action> -->
						</md-card>
					</md-content>
				</md-tab>
				<md-tab label="History">
					<md-card flex style="margin:0">
						<md-table-container>
							<table md-table>
								<thead md-head>
									<tr md-row>
										<th md-column>Device</th>
										<th md-column>Region</th>
										<th md-column>Address</th>
										<th md-column>Package</th>
										<th md-column md-numeric>Start Date</th>
										<th md-column md-numeric>Expired Date</th>
									</tr>
								</thead>
								<tbody md-body>
									<tr ng-show="dataHistory.length === 0">
										<td colspan="4" md-row style="padding:24px;text-align:center">
											No Data Available.
										</td>
									</tr>
									<tr md-row ng-repeat="_dataHistory in dataHistory" class="selectable">
										<td md-cell> {{_dataHistory.view.device}} </td>
										<td md-cell> {{_dataHistory.view.region}} </td>
										<td md-cell> {{_dataHistory.view.address}} </td>
										<td md-cell> {{_dataHistory.view.package}} </td>
										<td md-cell> {{_dataHistory.view.startDate | date :'dd MMMM yyyy HH:mm'}} </td>
										<td md-cell> {{_dataHistory.view.expiredDate | date :'dd MMMM yyyy HH:mm'}}
										</td>
									</tr>
								</tbody>
							</table>
						</md-table-container>
					</md-card>
				</md-tab>
			</md-tabs>
		</md-card>
	</md-content>
</md-content>