<md-content class="md-padding" layout-fill
	layout="row" layout-align="center">
	<div flex="30" layout="column" layout-align="center">
		<md-button class="md-primary md-raised">List Illegal ONU</md-button>
		<md-button class="md-primary md-raised">Create Policing Profile</md-button>
		<md-button class="md-primary md-raised">Set ONU Bandwidth</md-button>
		<md-button class="md-primary md-raised">Register ONU</md-button>
		<md-button class="md-primary md-raised">Enable/Suspend ONU</md-button>
		<md-button class="md-primary md-raised">Reboot ONU</md-button>
		<md-button class="md-primary md-raised">Monitor ONU Optical Power</md-button>
	</div>
</md-content>